aniso8601==8.0.0
asgiref==3.2.3
certifi==2019.11.28
chardet==3.0.4
Click==7.0
css==0.1
docker==4.1.0
Flask==1.1.1
Flask-Cors==3.0.8
Flask-RESTful==0.3.7
Flask-SocketIO==4.2.1
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10.3
joblib==0.14.1
MarkupSafe==1.1.1
numpy==1.18.0
python-engineio==3.11.2
python-socketio==4.4.0
pytz==2019.3
requests==2.22.0
scikit-learn==0.22
scipy==1.4.1
six==1.13.0
sklearn==0.0
sqlparse==0.3.0
urllib3==1.25.7
virtualenv==16.7.9
websocket-client==0.57.0
Werkzeug==0.16.0
wincertstore==0.2
