<!DOCTYPE html>
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<head>
    <meta charset="UTF-8">
    <title>Art filter</title>
    <link href="{{ url_for('static', filename='css/my_style.css') }}" rel="stylesheet" type= "text/css">
</head>

<body>

    <ul>
      <li><a href="{{ url_for('home') }}">Art filter</a></li>
      <li><a href="{{ url_for('hotdog') }}">Hotdog Detection</a></li>
    </ul>

    <p>Transform the image in a painting</p>

    <form action="/get_img_paint" method="GET">
        <button type="submit" class="button button_load">Take a picture</button>
    </form>

    <div class="row">

          <div class="column">
              <form action="/show_paint_a" method="GET">
                <button type="submit" class="button button_submit">Load the before picture</button>
              </form>
          </div>

          <div class="column">
                <form action="/show_paint_b" class="{{click}}" method="GET">
                    <button type="submit" class="button button_submit">Load the after pictures</button>
                </form>
          </div>

    </div>

    <div class="row">
          <div class="column">
            <img src="{{original_image}}" style="width:100%">
          </div>
          <div class="column">
            <img src="{{treated_image}}" style="width:100%">
          </div>
    </div>

</body>

</html>
